<?xml version="1.0" encoding="UTF-8"?>
<suite name="Pwot_RegressionSuite" verbose="1" >
  
  <listeners>
<listener class-name="com.qa.listener.ExtentReporterNG" />
</listeners>
  
<test name="Test" preserve-order="true">
	<classes>
      
      <class name="com.pwot.qa.iteration1.TestAeUser"/>
      <class name="com.pwot.qa.iteration1.TestTcUser"/>
      <class name="com.pwot.qa.iteration1.TestSdmUser"/>
      <class name="com.pwot.qa.iteration1.TestProvisioningUser"/>
      <class name="com.pwot.qa.iteration1.TestOfcUser"/>
      
    </classes>

</test>
 
</suite>
      